extends layout

block header_meta
	- var content_title= 'Time to Speak Russian'
	- var content_description= ''

block header_include
	- var include_css = ['main.css']
	- var include_js = ['main.js']

block content
	.categorys_block
		.category_item(id='all') все
		each category in categorys
			.category_item(id=category._short_id)= category.i18n.title.get(locale)

	.posts_block

	.posts_more: span Загрузить еще