doctype html
html
	head
		include header
	body
		.main_block
			.title_block: .title_inner
				.main_block
					a.logo(href='/'): img(src='/stuff/rus_speech/icons/logo/main.svg')
					a.logo_text(href='/') Time to Speak Russian
					.menu_block
						a(href='/lessons') онлайн-уроки
						a(href='/about') о нас
						if (session && session.user_id)
							.stargazer_block
									a(href='/auth') sg
									a(href='/auth/logout') выход
				.social_block
					a(href='#', target='_blank'): img(src='/stuff/rus_speech/icons/social/inst.svg')
					a(href='#', target='_blank'): img(src='/stuff/rus_speech/icons/social/fb.svg')
					a(href='#', target='_blank'): img(src='/stuff/rus_speech/icons/social/yt.svg')
			.content_block
				block content
			.footer_block: .footer_inner
				.copy_block!= '&copy; Time to Speak Russian ' + new Date().getFullYear()
				.lang_block
					a(href='/lang/ru', class=locale == 'ru' ? 'active': '') RUS
					a(href='/lang/en', class=locale == 'en' ? 'active': '') ENG
		include counters