doctype html
html
	head
		include header
	body
		.main_block
			.title_block: .title_inner
				.logo_block
					img.logo(src='/stuff/rus_speech/icons/logo/main.svg')
					.logo_text Time to Speak Russian
				.menu_block
					a(href='/lessons') уроки по skype
					a(href='/about') о нас
				.social_block
					a(href='#', target='_blank'): img(src='/stuff/rus_speech/icons/social/f.svg')
					a(href='#', target='_blank'): img(src='/stuff/rus_speech/icons/social/yt.svg')
				if (session && session.user_id)
					.stargazer_block
							a(href='/auth') stargazer
							span= ' | '
							a(href='/auth/logout') выход
			.content_block
				block content
			.footer_block: .footer_inner
				.copy_block © some copiright
				.language
					a(href='/lang/ru', class=locale == 'ru' ? 'active': ''): span RUS
					a(href='/lang/en', class=locale == 'en' ? 'active': ''): span ENG
		include counters