extends layout

block header_meta
	- var content_title= ''
	- var content_description= ''

block header_include
	- var include_css = ['lessons.css']
	//- - var include_js = ['lessons.js']

block content
	.lessons_block
		.lessons_title Онлайн уроки
		.lessons_s_title Если вы студент и хотите позаниматься онлайн, то оставьте свои контакты и мы свяжемся с вами: