@font-face {
	font-family: 'Lora Regular';
	src: url('/libs/fonts/Lora-Regular.otf');
}

@font-face {
	font-family: 'Lora Italic';
	src: url('/libs/fonts/Lora-Italic.otf');
}

@font-face {
	font-family: 'Montserrat Bold';
	src: url('/libs/fonts/Montserrat-Bold.otf');
}

@font-face {
	font-family: 'Montserrat Medium';
	src: url('/libs/fonts/Montserrat-Medium.otf');
}

@font-face {
	font-family: 'Montserrat SemiBold';
	src: url('/libs/fonts/Montserrat-SemiBold.otf');
}

@font-face {
	font-family: 'MontserratAlternates BoldItalic';
	src: url('/libs/fonts/MontserratAlternates-BoldItalic.otf');
}