.lessons_block
	.lessons_title
		margin-top 60px
		font 42px/44px 'Montserrat Bold'
		color rgb(74, 74, 74)
		text-align center
	.lessons_s_title
		text-align center
		font 30px/32px 'Lora Regular'
		color rgb(80, 80, 80)
		margin-top 40px

