extends layout

block header_meta
	- var content_title= 'РЕДАКТИРОВАТЬ CV'

block header_include
	- var include_libs_css = ['font-awesome.css', 'wysiwyg-editor.min.css']
	- var include_css = ['add.css']
	- var include_libs_js = ['wysiwyg.min.js', 'wysiwyg-editor.min.js']
	- var include_js = ['editor.js', 'add.js']

block sub_menu
	a.sub_item.back_link(href='/admin') Назад
	span.sub_item.toggle_eng Перевод
	.sub_right_block
		input.form_cancel(type='submit', value='Отменить')
		input.form_submit(type='submit', value='Сохранить')

block content
	.form_block
		.title= content_title
		form(action='', method='post')
			.form_title О нас (заголовок):
			input.ru(type='text', name='about_title[ru]', value= content.about_title_ru)
			input.en(type='text', name='about_title[en]', value= content.about_title_en)
			.form_title О нас (описание):
			.content
				textarea.ru.editor(name='about_desc[ru]')= content.about_desc_ru
				textarea.en.editor(name='about_desc[en]')= content.about_desc_en
			.form_title Онлайн-уроки (заголовок):
			.content(style='overflow: hidden;')
				input.ru(type='text', name='lessons_title[ru]', value= content.lessons_title_ru)
				input.en(type='text', name='lessons_title[en]', value= content.lessons_title_en)